<?xml version="1.0" ?>
<robot name="ur_with_end_effector" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- UR5e -->
  <xacro:arg name="name" default="ur5"/>
  <xacro:arg name="ur_type" default="ur5"/>
  <xacro:include filename="$(find ur_description)/urdf/ur.urdf.xacro"/>

  <!-- End effector-->
  <xacro:include filename="$(find robot_description)/urdf/end_effector.urdf.xacro"/>

  <!-- Connect EE to wrist -->
  <joint name="ur5_end_effector_coupler_joint" type="fixed">
    <parent link="wrist_3_link"/>
    <child link="end_effector_mount_connector"/>
    <origin xyz="0 0 0.005" rpy="1.57 0 0"/>
  </joint>

</robot>
