<?xml version="1.0"?>
	<robot name="parallel_gripper_end_effector">
		<!-- LINKS -->
		<!-- end effector mount connector housing (female) -->
		<link name="end_effector_mount_connector_housing">
			<geometry>
				<mesh filename="package://end_effector_description/meshes/end_effector_mount_connector_housing.stl"/>
			</geometry>

			<material>
				<texture filename="package://end_effector_description/textures/black_pla.png"/>
			</material>

			<collision>
				<geometry>
					<box size=“0.1 0.1 0.1”/>
				</geometry>
			</collision>
		</link>

		<!-- end effector mount insert (male) -->
		<link name="end_effector_mount_insert"/>
			<geometry>
				<mesh filename="package://end_effector_description/meshes/end_effector_mount_connector_housing.stl"/>
			</geometry>

			<material>
				<texture filename="package://end_effector_description/textures/black_pla.png"/>
			</material>

			<collision>
				<geometry>
					<box size=“0.1 0.1 0.1”/>
				</geometry>
			</collision>
		</link>

		<!-- gripper fingers (left) -->
		<link name="gripper_finger_left"/>
			<geometry>
				<mesh filename="package://end_effector_description/meshes/gripper_finger_left.stl"/>
			</geometry>

			<material>
				<texture filename="package://end_effector_description/textures/black_pla.png"/>
			</material>

			<collision>
				<geometry>
					<box size=“0.1 0.1 0.1”/>
				</geometry>
			</collision>
		</link>	

		<!-- gripper fingers (right) -->
		<link name="gripper_finger_right"/>
			<geometry>
				<mesh filename="package://end_effector_description/meshes/gripper_finger_right.stl"/>
			</geometry>

			<material>
				<texture filename="package://end_effector_description/textures/black_pla.png"/>
			</material>

			<collision>
				<geometry>
					<box size=“0.1 0.1 0.1”/>
				</geometry>
			</collision>
		</link>	


		<!-- JOINTS -->
		<joint name="end_effector_mount_connector_joint" type="fixed">
			<parent link="end_effector_mount_insert"/>
			<child link="end_effector_mount_connector_housing"/>
			<origin xyz="0 0 0" rpy="0 0 0"/>
		</joint>

		<joint name="gripper_finger_left_joint" type="prisamatic">
			<parent link="end_effector_mount_connector_housing"/>
			<child link="gripper_finger_left"/>
			<origin xyz="0 0 0" rpy="0 0 0"/>
		</joint>	

		<joint name="gripper_finger_right_joint" type="prismatic">
			<parent link="end_effector_mount_connector_housing"/>
			<child link="gripper_finger_right"/>
			<origin xyz="0 0 0" rpy="0 0 0"/>
		</joint>

	<robot>
</xml>  